* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.input_icon {
  margin: 10px;
}

.select_values {
  width: 200px;
  height: 75px;
  display: inline-block;
}

.forms_fields {
  justify-content: center;
  text-align: center;
  align-items: center;
}

input[type='text'],
input[type='email'],
input[type='password'],
select {
  width: 100%;
  max-width: 220px;
  padding: 11px;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid lightblue;
  outline: none;
  margin: 10px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.buttons {
  width: 100%;
  max-width: 150px;
  color: white;
  padding: 10px 14px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  background-color: #008CBA;
  cursor: pointer;
  font-size: 16px;
  margin: 7px;
}

.icon_user {
  width: 50%;
  height: 100px;
}

.radio_text {
  display: flex;
}

.input_error_span {
  display: block;
}

.container {
  text-align: center;
  padding: 20px;
}

.password_field {
  margin-right: 25px !important;
}

.account_reg {
  margin: 9px;
}